<script setup lang="ts">
import { nextTick, ref } from 'vue'

import { type Product } from '@/types/Product'
import { type ReceiptItem } from '@/types/ReceiptItem'
import { idText } from 'typescript'

import MemberCard from './MemberCard.vue'
import ProductList from '@/components/ProductList.vue'
import ReceiptDetailTable from './ReceiptDetailTable.vue'
import ReceiptCard from './ReceiptCard.vue'
import ReceiptDialog from './ReceiptDialog.vue'

import { useReceiptStore } from '@/stores/receipt'
import { provide } from 'vue'

const dialog = ref(false)
provide('receiptDialog', dialog)

const receiptStore = useReceiptStore()

const products1: Product[] = [
  { id: 1, name: 'ลาเต้ร้อน', price: 35.0, type: 1 },
  { id: 2, name: 'อเมริกาโน่ร้อน', price: 40.0, type: 1 },
  { id: 3, name: 'นมร้อน', price: 45.0, type: 1 },
  { id: 4, name: 'ชาเขียวร้อน', price: 55.0, type: 1 },
  { id: 5, name: 'นมชมพูร้อน', price: 30.0, type: 1 },
  { id: 6, name: 'เอสเปรชโซ่ร้อน', price: 20.0, type: 1 },
  { id: 7, name: 'มอคค่าเย็น', price: 15.0, type: 1 },
  { id: 8, name: 'ชาเย็น', price: 50.0, type: 1 },
  { id: 9, name: 'ไฟเย็น', price: 40.0, type: 1 }
]
const products2: Product[] = [
  { id: 4, name: 'ชาเขียวร้อน', price: 55.0, type: 2 },
  { id: 5, name: 'นมชมพูร้อน', price: 30.0, type: 2 },
  { id: 6, name: 'เอสเปรชโซ่ร้อน', price: 20.0, type: 2 }
]
const products3: Product[] = [
  { id: 7, name: 'มอคค่าเย็น', price: 15.0, type: 3 },
  { id: 8, name: 'ชาเย็น', price: 50.0, type: 3 },
  { id: 9, name: 'ไฟเย็น', price: 40.0, type: 3 }
]
const tab = ref(1)
const selected = (p: Product) => {
  console.log('ProductView: ' + p)
  receiptStore.addReceiptItem(p)
  nextTick(() => {
    if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
  })
}
const showReceipt = function () {
  receiptStore.showReceiptDialog()
}
const divReceiptItems = ref<HTMLElement | null>(null)
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="6">
        <v-container style="padding: 0">
          <v-row>
            <v-col cols="12">
              <div ref="divReceiptItems" style="height: 300; overflow: auto">
                <v-sheet min-width="300" max-width="780" height="380" elevation="6">
                  <ReceiptDetailTable></ReceiptDetailTable>
                </v-sheet>
              </div>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="780" height="80" elevation="6">
                <MemberCard></MemberCard>
              </v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="780" height="100" elevation="6">
                <ReceiptCard></ReceiptCard>
              </v-sheet> </v-col
            ><v-col cols="12">
              <v-sheet min-width="300" max-width="780" height="80" elevation="6">
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6">
                      <v-btn block rounded="xl" size="large">ยกเลิก</v-btn> </v-col
                    ><v-col cols="auto"> </v-col>
                    <v-col
                      ><v-btn block rounded="xl" color="primary" size="large" @click="showReceipt"
                        >ชำระเงิน</v-btn
                      ></v-col
                    >
                  </v-row>
                </v-container>
              </v-sheet>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="12" md="6"
        ><v-sheet min-width="300" max-width="780" height="635" elevation="6">
          <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
            <v-tab :value="1">เครื่องดื่ม</v-tab>
            <v-tab :value="2">ขนม</v-tab>
            <v-tab :value="3">น้ำ</v-tab>
          </v-tabs>
          <v-window v-model="tab">
            <v-window-item :value="1">
              <ProductList :products="products1" @selectedProduct="selected"></ProductList>
            </v-window-item>

            <v-window-item :value="2">
              <ProductList :products="products2" @selectedProduct="selected"></ProductList>
            </v-window-item>

            <v-window-item :value="3">
              <ProductList
                :products="products3"
                @selectedProduct="selected"
              ></ProductList> </v-window-item></v-window></v-sheet
      ></v-col>
    </v-row>
  </v-container>
  <ReceiptDialog></ReceiptDialog>
</template>
